{% extends 'master.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});
</script>
  <br>
  <h2 style="padding-left:20px;">Lista de buses</h2>
  <br>
  <table>
       <tr>     
       <th scope="col"><b><h4>Matricula</h4></b></th>
      <th scope="col"><b><h4>Descripción</h4></b></th>
      <th scope="col"><b><h4>Marca</h4></b></th>
      <th scope="col"><b><h4>Modelo</h4></b></th> 
      <th scope="col"><b><h4>Capacidad<h4></b></th>
      <th scope="col"><b><h4>Herramientas</h4></b></th>
      
    </tr> 
      <tr>
      <form action="/intranet/bus/add" method="POST" style="">   
      <td><input class="form-control" name="matricula"   placeholder="Matricula"    type="text" required></td>
      <td><input class="form-control" name="descripcion" placeholder="Descripcion"  type="text" required></td>
      <td><input class="form-control" name="marca"       placeholder="Marca"        type="text" required></td>
      <td><input class="form-control" name="modelo"      placeholder="Modelo"       type="text" required></td>
      <td><input class="form-control" name="capacidad"   placeholder="Capacidad"    type="text" required></td>
      <td>
        <div class="text-left">
          <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
      </td>  
   </form>
    </tr>
  </table>
<table id="myTable"class="display table-striped" cellspacing="0">
  <br>
  <thead>
    <tr>     
      <th scope="col"><b><h4>Matricula</h4></b></th>
      <th scope="col"><b><h4>Descripción</h4></b></th>
      <th scope="col"><b><h4>Marca</h4></b></th>
      <th scope="col"><b><h4>Modelo</h4></b></th> 
      <th scope="col"><b><h4>Capacidad<h4></b></th>
      <th scope="col"><b><h4>Herramientas</h4></b></th>
    </tr>
    </thead>
      
      {% for InfoBus in bus %}
      <tr>
      <td>{{InfoBus.matricula}}</td>
      <td>{{InfoBus.descripcion}}</td>
      <td>{{InfoBus.marca}}</td>
      <td>{{InfoBus.modelo}}</td>
      <td>{{InfoBus.capacidad}}</td>
      <td>
        <div class="text-left">      
          <button class="btn btn-warning" data-target="#modal_mod" data-toggle="modal" onclick="onModifyRouteClick('{{loop.index}}', '{{InfoBus.matricula}}','{{InfoBus.descripcion}}','{{InfoBus.marca}}','{{InfoBus.modelo}}','{{InfoBus.capacidad}}')" type="button">
                    Modificar
                </button>         
          <a  class="btn btn-danger" href="/intranet/bus/delete/{{InfoBus.matricula}}" type="button">Eliminar</a>
        </div>
      </td>     
    </tr>    
{% endfor %}
</table>
<div class="modal fade" id="modal_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>Modifica un grupo</b></h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
  <div class="form-group">
    <form action="/intranet/bus/mod" method="POST" style="">

    <!-- matricula -->
     <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Matrícula antigua</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_matricula" name="old_matricula" placeholder="{{InfoBus.matricula}}" readonly="readonly"   type="text" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">Matrícula nueva</label> 
    <input type="text" class="form-control" id="mod_matriculaNew" name="new_matricula" aria-describedby="emailHelp" placeholder="introduce una nueva matrícula">
    <br/>

    <!-- descripcion -->
     <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Descripción antigua</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_descripcion" name="old_descripcion" placeholder="{{InfoBus.descripcion}}"  type="text"  readonly="readonly" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">Descripción nueva</label>
    
    <input type="text" class="form-control" id="mod_descripcionNew" name="new_descripcion" aria-describedby="emailHelp" placeholder="introduce una nueva descripción" maxlength="7">
    <br/>

    <!-- marca -->
     <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Marca antigua</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_marca" name="old_marca" placeholder="{{InfoBus.marca}}" type="text" readonly="readonly" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">Marca nueva</label>
    <input type="text" class="form-control" id="mod_marcaNew" name="new_marca" aria-describedby="emailHelp" placeholder="introduce una nueva marca" 
 

  <!-- modelo -->
     <br><label for="Nombre de grup" style="visibility: hidden;position:absolute;">Modelo antiguo</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_modelo" name="old_modelo" placeholder="{{InfoBus.modelo}}" type="text" readonly="readonly" style="visibility: hidden;position:absolute;">
    
    
      <br><label for="Nombre de grupo">Modelo nuevo</label>
      <input type="text" class="form-control" id="mod_modeloNew" name="new_modelo" aria-describedby="emailHelp" placeholder="introduce un nuevo modelo"

      <!-- Capacidad -->
      <br><label for="Nombre de grup" style="visibility: hidden;position:absolute;">Capacidad antigua</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_capacidad" name="old_capacidad" placeholder="{{InfoBus.capacidad}}" type="text" readonly="readonly" style="visibility: hidden;position:absolute;">
    
    
      <br><label for="Nombre de grupo">Capacidad Nueva</label>
      <input type="text" class="form-control" id="mod_capacidadNew" name="new_capacidad" aria-describedby="emailHelp" placeholder="introduce una nueva capacidad"
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        {# **********update variable del input del modal modificar**********  #}
        <button  type="submit" class="btn btn-primary">Modificar</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function onModifyRouteClick(uniqid, matricula, descripcion, marca, modelo, capacidad) {
    $('#mod_id').val(uniqid);
    $('#mod_matricula').val(matricula);
    $('#mod_descripcion').val(descripcion);
    $('#mod_marca').val(marca);
    $('#mod_modelo').val(modelo);
    $('#mod_capacidad').val(capacidad);

    $('#mod_matriculaNew').val(matricula);
    $('#mod_descripcionNew').val(descripcion);
    $('#mod_marcaNew').val(marca);
    $('#mod_modeloNew').val(modelo);
    $('#mod_capacidadNew').val(capacidad);


  
}
</script>

{% endblock %}