{% extends 'master.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
  <br>
  <h2  name="nom" style="padding-left:20px;">Lista de grupos</h2>
  <br>
  <table>
       <tr>
      <th scope="col"><b><h4>#</h4></b></th>
      <th scope="col"><b><h4>Nombre<h4></b></th>  
    </tr>
    <tr>
      <form action="/intranet/group/add" method="POST" style="">
      <th scope="row">****</th>
      <td><input name="name" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de grupo" required></td>
      <td>
        <div class="text-left">
          <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
      </td>  
   </form>
    </tr>
  </table>
  <br>
  <br>
<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><b><h4>#</h4></b></th>
      <th scope="col"><b><h4>Nombre<h4></b></th>
      <th scope="col"><b><h4>Herramientas</h4></b></th>   
    </tr>
  </thead>
    <tr>    
      {% for group in groupsname %}
      <th scope="row">{{group.code}}</th>
      <td name="group.name">{{group.name}}</td>
      <td>
        <div class="text-left">       
          <button class="btn btn-warning" data-target="#modal_mod" data-toggle="modal" onclick="onModifyRouteClick('{{loop.index}}', '{{group.name}}')" type="button">
                  Modificar
                </button>   
          <a href="/intranet/group/delete/{{group.code}}" type="button" class="btn btn-danger" >Eliminar</a>
        </div>
      </td> 
    </tr>
{% endfor %}
</table>
{#   
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Grupos</th>
      <th scope="col">Heramientas</th>
    </tr>
  </thead>
  {% for group in groups %}

    <tr>
      <th scope="row">{{group.id}}</th>
      <td>{{group.name}}</td>
      <td>
        <div class="text-left">
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal_add_routes" >Modificar rutas</button>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_mod" onclick="onModifyRouteClick('{{loop.index}}', '{{point.name}}', '{{point.lat}}', '{{point.lng}}')" type="button">Modificar</button>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_group">Eliminar</button>
        </div>          
      </td>     
    </tr>
    {% endfor %}
    <tr>
      <th scope="row">{{group.id+1}}</th>     
      <td><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre"></td>
      <td>                
      </td>      
    </tr> 

</table> 
 Modal añadir /////////////////////////////////////////////
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Añade un grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="Nombre de grupo">Nombre</label>
    <input type="text" class="form-control" id="nombre-grupo" aria-describedby="emailHelp" placeholder="introduce un nombre">   
  </div>

  
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Añadir</button>
      </div>
    </div>
  </div>
</div>

 #}

 {# Modificar #}
<div class="modal fade" id="modal_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Modifica un grupo</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
  <div class="form-group">
    <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Antiguo nombre del grupo</label>
    <form action="/intranet/group/mod" method="POST" style="">
     {{group.name}}   
     <input aria-describedby="emailHelp" class="form-control" id="mod_nombre" name="old_name" placeholder="{{group.name}}" type="text"
      readonly="readonly" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">Nuevo nombre del grupo</label>
    {# placeholder obtiene dato de boton nuevo modificar  #}
    <input type="text" class="form-control" id="mod_nombreNew" name="new_name" aria-describedby="emailHelp" placeholder="introduce el nuevo nombre del grupo">
      
  </div>

  

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        {# **********update variable del input del modal modificar**********  #}
        <button  type="submit" class="btn btn-primary">Modificar</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function onModifyRouteClick(uniqid, nombre) {
    $('#mod_id').val(uniqid);
    $('#mod_nombre').val(nombre);

    $('#mod_nombreNew').val(nombre);
    
   
    
    //$('#mod_group_name').val(group_name);
}
</script>
{# eliminar grupo /////////////////////////////////////////////#}<!--
<div class="modal fade" id="modal_delete_group" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >Eliminar grupo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seguro que quires eliminar este grupo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a href="/delete/{id}" type="button" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>
{# modificar rutas /////////////////////////////////////////////#}
<div class="modal fade bd-example-modal-lg" id="modal_add_routes" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" >Modificar rutas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de ruta</th>
      <th scope="col">Herramientas</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>escolar</td>
      <td>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_amd_points">Modificar puntos de ruta</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_route">Eliminar</button>
      </td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
       
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
      </td>
      <td><button type="button" class="btn btn-primary">Añadir</button>

     
    </tr>
    
  </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        
      </div>
    </div>
  </div>
</div>
{# eliminar ruta /////////////////////////////////////////////#}
<div class="modal fade" id="modal_delete_route" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar ruta</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seguro que quires eliminar esta ruta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

{# amd puntos /////////////////////////////////////////////#}
<div class="modal fade bd-example-modal-lg" id="modal_amd_points" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar puntos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre de punto</th>
      <th scope="col">Latitud</th>
      <th scope="col">Longitud</th>
      <th scope="col">Herramientas</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>escolar</td>
      <th scope="col">41.1111</th>
      <th scope="col">1.2222o</th>
      <td>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal_mod_point">Modificar punto</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal_delete_point">Eliminar</button>
      </td>
     
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>       
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre">
      </td>
      <th><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Latitud"></th>
      <th><input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Longitud"></th>
      <td><button type="button" class="btn btn-primary">Añadir</button>

     
    </tr>
    
  </tbody>
</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        
      </div>
    </div>
  </div>
</div>
{# modificar datos de un punto /////////////////////////////////////////////#}
<div class="modal fade bd-example-modal-lg" id="modal_mod_point" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modifica el punto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
  <div class="form-group">
    <label for="Nombre de grupo">Nombre</label>
    <input type="text" class="form-control" id="nombre-grupo" aria-describedby="emailHelp" placeholder="introduce un nombre">
    <label for="Nombre de grupo">Latitud</label>
    <input type="text" class="form-control" id="nombre-grupo" aria-describedby="emailHelp" placeholder="introduce una latitud">
    <label for="Nombre de grupo">Longitud</label>
    <input type="text" class="form-control" id="nombre-grupo" aria-describedby="emailHelp" placeholder="introduce una longitud">
    
    
  </div>

  
</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Modificar</button>
      </div>
    </div>
  </div>
</div>
{# eliminar ruta /////////////////////////////////////////////#}
<div class="modal fade" id="modal_delete_point" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar punto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Seguro que quires eliminar este punto?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>

-->


{% endblock %}