
<div class="page" data-name="rutas">
  <!-- <div class="navbar"> --> 
    <!-- <div class="navbar-inner sliding"> -->
      <div class="left">
      <a class="link back">
            <i class="icon icon-back"></i>
            <span class="ios-only">Back</span>
          </a>
      </div>
      <div class="title"></div>
    <!-- </div> -->
  <!-- </div> -->
  <div class="page-content">
   <!--  Header de Rutas -->
    <div class="block-title">
    <table >
      <tr>
      <td><img src="img/logo.png" style="max-width:85%;width:auto;height:auto;"></td>
      <td>
            <table >
          <tr>
              <td><span id="nombreEmpresa">Autocares Pepe S.L.</span></td>
            </tr>
            <tr>
                <td><span id="telfEmpresa">687 157 924</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa">contacto@autocarespepe.com</span></td>
            </tr>
          </table>
      </td>
      </tr>
    </table>
    </div>

<div class="listResult">
  {{#each lista.ruta}}
   <form action="/api/getParadas" method="POST" style="">
<div class="card">
  <div class="card-content card-content-padding">
    <div id="cogedato">Linea {{name}}</div>
      
    
    <p>Codigo: {{code}}<br>Tipo de ruta: {{groups_name}}</p> 
    <hr>
    <a href="/mapa/{{name}}" onclick="nombreLiniaVisualizada = '{{name}}'; app.methods.getParadasPorRuta('{{name}}');" class="link">Acceder a la ruta</a>
    <br>
  </div>
  </div>
  <br>
  </form>
  {{/each}}
</div>




</div>
</div>

