{% extends 'master.twig' %}

{% block body %}

<img class="center logo"  src="../../public/images/IconoLogo.png">
<style >
.logo{
    width: 50%;
    height: 75%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
{% endblock %}