{% extends 'master.twig' %}

{% block body %}
{# <div id="paddingTop"></div> #}
<form id="menuForm" method="post" name="menuForm">
    <div class="row" id="greyBackGround" style="padding-left: 20px;padding-right: 20px;">
        <div class="col">
          <br>
            <div class="form-group" >
                <label for="grupos">
                    <h4><b>Filtrar por grupos</b></h4>
                </label>
                <select class="form-control" id="grupos" name="grupo">
                  <option>---</option>
                    {% for group in groupsname %}
                    <option value="{{group.name}}">
                        {{group.name}}
                    </option>
                    {% endfor %}
                </select> 
            </div>
        </div>
        <div class="col">
          <br>
            <div class="form-group">
                <label for="rutas">
                    <h4><b>Filtrar por rutas</b></h4>
                </label>
                <select class="form-control detectChanges" id="rutas" name="ruta">
                  <option vale="zero">---</option>
                  <option value="Todo">Todo</option>
                    {% for route in select_routes %}
                    <option value="{{route.name}}">
                        {{route.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</form>
<div id="map">
</div>
<script>
  window.markersArray = [];
  var map = null;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: {lat: 41.131252, lng: 1.221474}
    });  
  //setMarkers(map);
  }
    function clearMarkers() {     
       //console.log(window.markersArray.length);
        for (var i = 0; i < window.markersArray.length; i++ ) {
           window.markersArray[i].setMap(null);
        }
        window.markersArray.length = 0;
    }
// Data for the markers consisting of a name, a LatLng and a zIndex for the
// order in which these markers should display on top of each other.
var beaches = [
  ['calafel', 41.145731, 1.365606, 8],
  ['vilanova', 41.256291, 1.410905, 8],
  {% for point in points %}
      ['{{point.name}}', {{point.latitud}}, {{point.longitud}}, 12],
  {% endfor %}
];

function setMarkers(map) {
  //clearMarkers();
  // Adds markers to the map.

  // Marker sizes are expressed as a Size of X,Y where the origin of the image
  // (0,0) is located in the top left of the image.

  // Origins, anchor positions and coordinates of the marker increase in the X
  // direction to the right and in the Y direction down.
  var image = {
    url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
    // This marker is 20 pixels wide by 32 pixels high.
    size: new google.maps.Size(20, 32),
    // The origin for this image is (0, 0).
    origin: new google.maps.Point(0, 0),
    // The anchor for this image is the base of the flagpole at (0, 32).
    anchor: new google.maps.Point(0, 32)
  };
  // Shapes define the clickable region of the icon. The type defines an HTML
  // <area> element 'poly' which traces out a polygon as a series of X,Y points.
  // The final coordinate closes the poly by connecting to the first coordinate.
  var shape = {
    coords: [1, 1, 1, 20, 18, 20, 18, 1],
    type: 'poly'
  };
  for (var i = 0; i < beaches.length; i++) {
    var beach = beaches[i];
    var marker = new google.maps.Marker({
      position: {lat: beach[1], lng: beach[2]},
      map: map,
      icon: image,
      shape: shape,
      title: beach[0],
      zIndex: beach[3]
    });
  }
}
</script>
<!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK4qripVYfJpZz58rroYVw2anrUAcY78&callback=initMap">
</script>
<style>
    /* Set the size of the div element that contains the map */
      #map {
        height: 100%;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
       #greyBackGround{
        background:#ececec; 
       }
  }
  }
      
</style>
<script type="text/javascript">

    $(document).ready(function() {
      //var nameRoute;
     // var url = "map_change_route/";
     
      


      //captura el valor del select rutas y ejecuta un post
      $('#rutas').on("change", function(e) {         
        
          var val = $('#rutas').val();
          //console.log(val);
          

            //var fd = document.getElementById('menuForm');
            var postData = new FormData();
            postData.append("nameR", val);
           // postData.append("pos", JSON.stringify([0,0]));//["41.1392716667", "1.2505833333"]));

            $.ajax({
               url : "/intranet/map_change_route",
               type: "POST",
               data : postData,
               processData: false,
               contentType: false,
               success:function(data, textStatus, jqXHR){
               
                  clearMarkers();
                  var response = $.parseJSON(data);
                  //console.log("1" +data);
                  //console.log(response.length, response);

                  var image = {
                    url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                    // This marker is 20 pixels wide by 32 pixels high.
                    size: new google.maps.Size(20, 32),
                    // The origin for this image is (0, 0).
                    origin: new google.maps.Point(0, 0),
                    // The anchor for this image is the base of the flagpole at (0, 32).
                    anchor: new google.maps.Point(0, 32)
                  };                
                  var shape = {
                    coords: [1, 1, 1, 20, 18, 20, 18, 1],
                    type: 'poly'
                  };

                  for (var i = 0; i<response.length; i++) {
                    var marker = new google.maps.Marker({
                      position: {lat: parseFloat(response[i].latitud), lng: parseFloat(response[i].longitud)},
                      map: map,
                      icon: image,
                      shape: shape,
                      title: response[i].nombre
                      //zIndex: beach[3]
                    });
                    window.markersArray.push(marker);
                  }
               },
               error: function(jqXHR, textStatus, errorThrown){
               }
            });         
      });
      // captura el valor del select de grupos y realiza un post
       $('#grupos').on("change", function(e) {         
        
          var val = $('#grupos').val();
          //console.log(val);

          //var fd = document.getElementById('menuForm');
          var postData = new FormData();
          postData.append("name", val);
         // postData.append("pos", JSON.stringify([0,0]));//["41.1392716667", "1.2505833333"]));
          console.log("grupo" + postData);
          $.ajax({
             url : "/intranet/map_change_group",
             type: "POST",
             data : postData,
             processData: false,
             contentType: false,
             success:function(data, textStatus, jqXHR){
                  console.log("succes--group");
                  
                clearMarkers();
                var response = $.parseJSON(data);
               console.log("2" + data);

                var image = {
                  url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                  // This marker is 20 pixels wide by 32 pixels high.
                  size: new google.maps.Size(20, 32),
                  // The origin for this image is (0, 0).
                  origin: new google.maps.Point(0, 0),
                  // The anchor for this image is the base of the flagpole at (0, 32).
                  anchor: new google.maps.Point(0, 32)
                };
                
                var shape = {
                  coords: [1, 1, 1, 20, 18, 20, 18, 1],
                  type: 'poly'
                };

                for (var i = 0; i<response.length; i++) {
                  var marker = new google.maps.Marker({
                    position: {lat: parseFloat(response[i].latitud), lng: parseFloat(response[i].longitud)},
                    map: map,
                    icon: image,
                    shape: shape,
                    title: response[i].nombre
                    //zIndex: beach[3]
                  });
                  window.markersArray.push(marker);
                }
                console.log("succes--group2");
                  


             },
             error: function(jqXHR, textStatus, errorThrown){
             }
          });
      });


    });
</script>
{% endblock %}
