<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
                <link href="/vendors/iconfonts/mdi/css/materialdesignicons.min.css" rel="stylesheet">
                    <link href="/vendors/css/vendor.bundle.base.css" rel="stylesheet">
                        <link href="/vendors/css/vendor.bundle.addons.css" rel="stylesheet">
                            <link href="/css/style.css" rel="stylesheet">
                                <link href="/images/favicon.png" rel="shortcut icon"/>
                                <title>
                                    Star Admin Free Bootstrap Admin Dashboard Template
                                </title>
                                <script src="/vendors/js/jquery-3.2.1.min.js">
                                </script>
                            </link>
                        </link>
                    </link>
                </link>
            </meta>
        </meta>
    </head>
    <body>
        <div class="container-scroller">
            <!-- partial:partials/_navbar.html -->
            <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
                <div class="text-center navbar-brand-wrapper ">
                    <a class="navbar-brand brand-logo"  href="/intranet/">                      
                        <br><img alt="logo" src="/images/LogoMovertis.jpg">
                    </a>
                </div>
            </nav>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <!-- partial:partials/_sidebar.html -->
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <ul class="nav">
                        <li class="nav-item nav-profile">
                        </li>
                        
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="/intranet/">
                                <i class="menu-icon mdi mdi-map">
                                </i>
                                <span class="menu-title">
                                    Mapa
                                </span>
                            </a>
                        </li> -->
                        <li class="nav-item">
                            <a class="nav-link" href="/intranet/group/">
                                <i class="menu-icon mdi mdi-map">
                                </i>
                                <span class="menu-title">
                                    Grupos
                                </span>
                            </a>
                        <li class="nav-item">
                            <a class="nav-link" href="/intranet/routes/">
                                <i class="menu-icon mdi mdi-map">
                                </i>
                                <span class="menu-title">
                                    Rutas
                                </span>
                            </a>
                        </li>
                        
                            <li class="nav-item">
                                <a class="nav-link" href="/intranet/points/">
                                    <i class="menu-icon mdi mdi-map">
                                    </i>
                                    <span class="menu-title">
                                        Paradas
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/intranet/bus/">
                                    <i class="menu-icon mdi mdi-map">
                                    </i>
                                    <span class="menu-title">
                                        Bus
                                    </span>
                                </a>
                            </li>                         
                            <li class="nav-item">
                                <a class="nav-link" href="/intranet/lista/">
                                    <i class="menu-icon mdi mdi-map">
                                    </i>
                                    <span class="menu-title">
                                        Lista
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/intranet/objetosPerdidos/">
                                    <i class="menu-icon mdi mdi-map">
                                    </i>
                                    <span class="menu-title">
                                        Objetos perdidos
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/intranet/import/">
                                    <i class="menu-icon mdi mdi-television">
                                    </i>
                                    <span class="menu-title">
                                        Importar rutas
                                    </span>
                                </a>
                            </li>
                            <li class="nav-item">                                                       
                            </li>
                        </li>
                    </ul>
                </nav>
                <!-- partial -->
                <div class="main-panel">
                    {% block body %}{% endblock %}
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <!-- plugins:js -->
        <script src="/vendors/js/vendor.bundle.base.js">
        </script>
        <script src="/vendors/js/vendor.bundle.addons.js">
        </script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="/js/off-canvas.js">
        </script>
        <script src="/js/misc.js">
        </script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/js/dashboard.js">
        </script>
        <!-- End custom js for this page-->
    </body>
</html>