

<div class="page" data-name="lista">

  
    <div class="left">
      <a class="link back">

        <i class="icon icon-back"></i>
        <span class="ios-only">Back</span>
     
      </a>
    </div>

    <div class="title"></div>
   
    <div class="page-content">
      <div class="listado">
        <!-- <form id="formId" method="GET" action="app.methods.storeFormData(formId, data)" class="form-ajax-submit"> -->

        <form id="my-form" class="list-block"> 

        {{#each listado.personas}}
          
            <div class="list">
              <div class="item-content">
              <!-- <div class="item-media"><i class="icon icon-f7"></i></div> -->
              <div class="item-inner">
                <div class="item-title"><h2>{{name}}</h2></div>
                <div class="item-after">
                  <label class="toggle toggle-init">
                    <input type="checkbox" name="asistencia"/>
                    <span class="toggle-icon"></span>
                  </label>
                </div>
              </div>
              </div>
            </div>

        {{/each}}

         <a href="#" class="button form-to-data">Get Form Data</a>

        </form>

      </div>
    
    </div>
    
  </div>

  <script>
$$('.form-to-data').on('click', function(){
  console.log("hola");
  var formData = app.loginScreen.formToData('#my-form');
  alert(JSON.stringify(formData));
  console.log("hola");
}); 
  </script>



