<script type="text/javascript">
function createClass(name,rules){
  var style = document.createElement('style');
  style.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(style);
  if(!(style.sheet||{}).insertRule) 
    (style.styleSheet || style.sheet).addRule(name, rules);
  else
    style.sheet.insertRule(name+"{"+rules+"}",0);
}
function applyClass(name,element,doRemove){
  if(typeof element.valueOf() == "string"){
    element = document.getElementById(element);
  }
  if(!element) return;
  if(doRemove){
    element.className = element.className.replace(new RegExp("\\b"+name+"\\b","g"),"");
  }else{
    element.className = element.className + " "+name;
  }
}

</script>

<div class="page" data-name="mapa">

      <div class="left">
        <a href="#" class="link back" onclick="app.methods.setVariables()">
          <i class="icon icon-back" style="position:relative;width:28;height:28;z-index: 1002;"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title"></div>
 
<!-- boton flotante ubicacion -->
<!-- <div class="page-content">
<a href="#" class="float" onclick="app.methods.setMapMyUbi();">
  <img src="img/ubi.png" style="margin-top:10px;max-width:55%;width:auto;height:auto;">
<i class="fa fa-plus my-float"></i>
</a> -->


<div class="page-content">
<!-- <a href="#" class="BotonInfoBus" onclick="app.methods.getInfoBus('{{rutas_name}}');"> -->
  <a href="#" onclick="app.methods.getInfoBus('{{rutas_name}}');" class="BotonInfoBus login-screen-open colorazul" data-login-screen="#popup-BusInfo">
  <img src="img/bus_icon.png" style="margin-top:10px;max-width:55%;width:auto;height:auto;">
<i class="fa fa-plus my-float"></i>
</a>

<!-- icono de cargando ubicacion  -->   
    <div class="loading-bro">
  <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
    <circle id="loading-inner" cx="75" cy="75" r="60"/>
    
 </svg>
</div>
         <!-- <div id="listResult2" class="listResult2"> -->
         
        <!-- <div class="div_nombre_ruta">
          <h1>{{rutas_name}}</h1>
        </div> -->

      <!-- </div> -->
        <div id="map" class="mapa"></div>

    <!-- Ruta --> 
<!-- <div class="contenedor">
    <div  id="ancla1" class="route ruta" >
  
  <div class="line">
  </div>
  <div class="linepersona">
  </div>
  
  <div class="path">
  </div>

  <div class="bus">
    <i class="material-icons move">directions_bus</i>
  </div>
  <div class="persona">
    <i class="material-icons move">directions_walk</i>
  </div>


    <div id="listResult2" class="listResult2">

      
    {{#each next_stops}}
    
    <div id="puntos2" class="point " style="top: {{@index}}0%">
    <div class="desc ">
      
     <a href="#" onclick="app.methods.getInfoParada('{{nombre}}');" class="login-screen-open colorazul" data-login-screen="#popup-Screen">{{nombre}}</a>
    <p>
      {{observaciones}}
    </p>
    </div>
   
    <div class="mark"></div>
    <div class="time"></div>   
  </div>

{{/each}}
  </div>
  </div>
</div> -->

