

<div class="page" data-name="lista">

  
    <div class="left">
      <a class="link back">

        <i class="icon icon-back"></i>
        <span class="ios-only">Back</span>
     
      </a>
    </div>

    <div class="title"></div>
   
    <div class="page-content">
      <div class="objetos">
        
        {{#each objetos.objetos}}

          <div class="list links-list searchbar-hide-on-search">
            <ul>
              <li>
                <!-- <a href="{{fotoURI}}" download="">
                  <h4>{{nombre}}</h4>
                  <p><h5>{{descripcion}}</h5></p>
                </a> -->
                <a href="#" onclick="app.methods.getImagen('{{nombre}}');">
                  <h4>{{nombre}}</h4>
                  <p><h5>{{descripcion}}</h5></p>
                </a>
                 <!-- class="login-screen-open colorazul" data-login-screen="#popup-getImagen" -->
              </li> 
            </ul>
          </div>
          
          <!-- <div class="list links-list">

            <ul>
            <li>
            <div class="item-content">

              <a href="#">

                <div class="item-inner">
                
                  <div class="item-title">

                    <h5>{{nombre}}</h5>
                    <h6>{{descripcion}}</h6>

                  </div>

                </div>

              </a>
              
            </div>
            </li>
            </ul>

          </div> -->
            

        {{/each}}


      </div>
    
    </div>
    
  </div>

 




