

<div class="page" data-name="rutas">
  
      <div class="left">
      <a class="link back">

        <i class="icon icon-back"></i>
        <span class="ios-only">Back</span>
     
      </a>
      </div>

      <div class="title"></div>
   
  <div class="page-content">
   <!--  Header de Rutas -->
    <div class="block-title">
    <table >
      <tr>
      <td><img src="img/logo.png" style="max-width:85%;width:auto;height:auto;"></td>
      <td>
            <table >
          <tr>
              <td><span id="nombreEmpresa"></span></td>
            </tr>
            <tr>
                <td><span id="telfEmpresa"></span></td>
            </tr>
            <tr>
                <td><span id="correoEmpresa"></span></td>
            </tr>
           
          </table>
      </td>
      </tr>
    </table>
    </div>
<div class="listResult">
  {{#each lista.ruta}}
    <form action="/api/getParadas" method="POST" style="">
      <div class="card">
        
        <div class="card-content card-content-padding">

          <p><b>Linea {{name}}</b></p>
          <p>Codigo: {{code}}<br>Tipo de ruta: {{groups_name}}</p> 
          <hr>
          <a href="/mapa/{{name}}" onclick="nombreLiniaVisualizada = '{{name}}';app.methods.getParadasPorRuta('{{name}}'); " class="col button button-fill color-green">Comenzar la ruta</a>
          <br>
          <a href="/lista/{{name}}" onclick="nombreLiniaVisualizada = '{{name}}';app.methods.getLista('{{name}}'); " class="col button button-fill color-green">Ver lista</a>
          <br>
        </div>
      </div>
      <br>
    </form>
  {{/each}}
</div>
</div>
</div>

