{% extends 'master.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});

</script>
  <br>
  <h2 style="padding-left:20px;">Lista de Objetos Perdidos</h2>
  <br>
  <table>
       <tr>     
      <th scope="col"><b><h4>Nombre</h4></b></th>
      <th scope="col"><b><h4>Descripción</h4></b></th>
      <th scope="col"><b><h4>Foto</h4></b></th>  
    </tr> 
      <tr>
      <form action="/intranet/objetosPerdidos/add" method="POST" style="" enctype="multipart/form-data">   
      <td><input class="form-control" name="nombre"   placeholder="Nombre"    type="text" required></td>
      <td><input class="form-control" name="descripcion" placeholder="Descripcion"  type="text" required></td>
      <td><input required type="file" class="form-control" name="filename" id="filename" accept="image/png, image/jpeg"> 
      <td>
        <div class="text-left">
          <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
      </td>  
   </form>
    </tr>
  </table>
<table id="myTable"class="display table-striped" cellspacing="0">
  <br>
  <thead>
    <tr>     
      <th scope="col"><b><h4>Nombre</h4></b></th>
      <th scope="col"><b><h4>Descripción</h4></b></th>
      <th scope="col"><b><h4>Foto</h4></b></th>
      <th scope="col"><b><h4>Herramientas</h4></b></th>
    </tr>
    </thead>   
      {% for InfoOP in objetos_perdidos %}
      <tr>
      <td>{{InfoOP.nombre}}</td>
      <td>{{InfoOP.descripcion}}</td>
      <td><a button href="../downloads/Parades_Exemple.csv" download="Parades_Exemple.csv">
        Descargar Archivo</td>
      <td>
        <div class="text-left">      
          <button class="btn btn-warning" data-target="#modal_mod" data-toggle="modal" onclick="onModifyRouteClick('{{loop.index}}', '{{InfoOP.nombre}}','{{InfoOP.descripcion}}','{{InfoOP.foto}}')" type="button">
                    Modificar
                </button>         
          <a  class="btn btn-danger" href="/intranet/objetosPerdidos/delete/{{InfoOP.nombre}}" type="button">Eliminar</a>
        </div>
      </td>     
    </tr>    
{% endfor %}
</table>
<div class="modal fade" id="modal_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>Modifica un nombre</b></h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <div class="form-group">
    <form action="/intranet/objetosPerdidos/modify" method="POST" style="">
    <!-- Nombre-->
     <label for="Nombre" style="visibility: hidden;position:absolute;">Nombre antiguo</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_nombre" name="old_name" placeholder="{{InfoOP.nombre}}" readonly="readonly"   type="text" style="visibility: hidden;position:absolute;">
    <br/>
    <label for="Nombre">Nuevo Nombre</label> 
    <input type="text" class="form-control" id="mod_nombreNew" name="new_name" aria-describedby="emailHelp" placeholder="introduce un nuevo nombre">
    <br/>
    <!-- Descripcion -->
     <label for="Nombre" style="visibility: hidden;position:absolute;">Descripción Antigua</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_descripcion" name="old_description" placeholder="{{InfoOP.descripcion}}"  type="text"  readonly="readonly" style="visibility: hidden;position:absolute;"> 
    <br/>
    <label for="Nombre">Nueva Descripción</label>   
    <input type="text" class="form-control" id="mod_descripcionNew" name="new_description" aria-describedby="emailHelp" placeholder="introduce nueva descripcion">
    <br/>
    <!--Foto-->
    <label for="Nombre" style="visibility: hidden;position:absolute;">Foto antigua</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_foto" name="old_foto" type="file" readonly="readonly" placeholder="{{InfoOP.foto}}" style="visibility: hidden;position:absolute;">
    <br/>
    <label for="Nombre">Nueva Foto</label>
    <input type="file" class="form-control" id="mod_fotoNew" name="new_foto" aria-describedby="emailHelp" placeholder="introduce una nueva foto">
      <div class="modal-footer">
        <button  type="submit" class="btn btn-primary">Modificar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        {# **********update variable del input del modal modificar**********  #}
        
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function onModifyRouteClick(uniqid, nombre, descripcion, foto) {
    $('#mod_id').val(uniqid);
    $('#mod_nombre').val(nombre);
    $('#mod_descripcion').val(descripcion);
    $('#mod_foto').val(foto);


    $('#mod_nombreNew').val(nombre);
    $('#mod_descripcionNew').val(descripcion);
    $('#mod_fotoNew').val(foto);  
}
</script>

{% endblock %}