/* Your app styles here */

html {
    background-color: transparent;
}
.license-plate {
    display: inline-flex;
    border: 6px solid #0058bd;
    border-radius: 12px;
    background-color: #fff;
    position: relative;
    color: #353535;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 27px;
    text-align: center;
    text-shadow: 0 0 3px #000;
    box-shadow: 0 0 2px #000000;
    margin: 0;
}
div#iconAlert {
    position: absolute;
    bottom: 82px;
    z-index: 99999;
    left: 28px;
}
i.fas.fa-exclamation-triangle {
    margin-right: 7px;
}
.inci.link {
    position: absolute;
    z-index: 99999999999999999999999999999999999;
    bottom: 45px;
    width: 112px;
    color: aliceblue;
    left: 20px;
    /* width: 196px; */
    background-color: #EF5362;
    -webkit-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 10px;
}
i.fas.fa-search {
    margin-right: 8px;
}
i.fas.fa-plus {
    margin-right: 11px;
}
i.fas.fa-list-ul {
    margin-right: 10px;
}
i.fas.fa-times {
    margin-left: 7px;
    font-size: x-large;
}
.col.gt {
    background-color: #e7e7e7;
    border-radius: 5%;
}
.block.gr {
    background-color: #5eb96552;
    padding: 13px;
    color: #3d3d3d;
}
.notPath {
    padding: 10px;
    margin: 30px;
    text-align: center;
    background-color: #fff;
    top: 160px;
    position: fixed;
    border-radius: 20px
}
i.fas.fa-exclamation-triangle.notPath {
    font-size: 33px;
}
.license-plate-left {
    padding-left: 32px;
    padding-right: 15px;
    border-radius: 6px;
    /* border-right: 3px solid #000000; */
    box-shadow: inset 0 0 4px #000000;
    background-image: url(../images/placa.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.battery {
    position: absolute;
    z-index: 9999999999999999999999999999;
    background-color: #e4163f;
    color: aliceblue;
    height: auto;
    width: 100%;
    padding: 58px;
    /* align-items: center; */
    /* line-height: 88px; */
    text-align: center;
    top: 40%;
    display: none;
}
/* Left Panel right border when it is visible by breakpoint */

.panel-left.panel-visible-by-breakpoint:before {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 6000;
}
div#conductor {
    position: absolute;
    left: 15%;
    top: 24%;
    z-index: 9;
    color: green;
}
div#operarios {
    position: absolute;
    right: 15%;
    top: 24%;
    z-index: 9;
    color: green;
}
div#speed {
    position: absolute;
    top: 83px;
    font-size: 62px;
    right: 112px;
    z-index: 1;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.75);
}
.pendents {
    margin: 5px;
    color: #ffffff;
    background-color: #ff0000bd;
    padding: 6px;
    border-radius: 9px;
}
.sombra {
    -webkit-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
}
.gris {
    color: silver;
    font-size: large;
}
i.fas.fa-truck {
    font-size: -webkit-xxx-large;
    align-content: center;
    color: #5eb965;
}
.llista {
    position: absolute;
    z-index: 99999999999999999999999999999999999;
    top: 202px;
    left: 20px;
    width: 111px;
    /* width: 196px; */
    background-color: white;
    -webkit-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 10px;
}
.Orgánico_line {
    border-top: 6px solid #64a6e5;
}
.Orgánico {
    color: #64a6e5;
}
.Envasos_line {
    border-top: 6px solid #5eb965;
}
.Envasos {
    color: #5eb965;
}
.addTarget {
    position: absolute;
    z-index: 99999999999999999999999999999999999;
    top: 134px;
    width: 112px;
    left: 20px;
    /* width: 196px; */
    background-color: white;
    -webkit-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 10px;
}
.localiza {
    position: absolute;
    z-index: 99999999999999999999999999999999999;
    top: 84px;
    left: 20px;
    /* width: 196px; */
    background-color: white;
    -webkit-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 10px;
}
.noIniciada {
    position: absolute;
    z-index: 99999999999999999999999999999999999;
    /* width: 196px; */
    top: 30%;
    background-color: white;
    -webkit-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -4px 4px 5px -4px rgba(0, 0, 0, 0.75);
    padding: 48px;
    left: 24%;
}
span.gris {
    color: #bfbfbf;
}
i.fa.fa-box-open {
    font-size: 122px;
    color: #e5e5e5;
}
img.foot {
    position: absolute;
    bottom: 10px;
    width: 100px;
    right: 24px;
    opacity: 0.6;
}
h3.tl {
    font-size: x-large;
    /* color: bisque; */
    margin-bottom: -26px;
}
div#Escanear {
    background-color: #a56fa5;
}
small.gris {
    color: #a5a5a5;
}
div#photo {
    height: 50%;
    background-size: cover;
    background-color: #589192;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.alert.alert-info.obj {
    margin: 25px;
    padding: 5px;
    background-color: #ffffff;
    color: #989898;
    /* border-radius: 4%; */
}
    {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position-x: -200px !important;
}
.col {
    text-align: center;
    color: #737373;
    padding: 5px;
    margin-bottom: 15px;
    font-size: 18px;
}
/* Hide navbar link which opens left panel when it is visible by breakpoint */

.panel-left.panel-visible-by-breakpoint~.view .navbar .panel-open[data-panel="left"] {
    display: none;
}
.average_engagement_rate {
    font-size: 61px;
    padding: 20px;
    color: #5f5f5f;
}
/*
  Extra borders for main view and left panel for iOS theme when it behaves as panel (before breakpoint size)
*/

textarea#observaciones {
    width: 100%;
    background-color: aliceblue;
    height: 155px;
    padding: 10px;
}
a.link {
    font-size: 14px;
}
.blog-author {
    position: relative;
    top: 2px;
    background-color: #ffffff;
    right: 15px;
    padding: 7px;
}
h3.import {
    font-size: 27px;
    color: #239dda;
    padding-left: 6px;
}
.lot {
    font-size: xx-large;
    color: #239dda;
    margin-left: 8px;
}
.demo-facebook-card {
    /* background-size: cover; */
    /* background-position-y: -92px; */
    background-color: black;
    background-repeat: no-repeat;
    background-position-y: -47px;
    background-size: cover;
}
.blog-card {
    margin: 20px;
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 17px;
    color: #828282;
}
.d {
    font-size: 12px;
}
.outstanding {
    background-color: #cfefff;
}
img.mini {
    width: 45%;
    top: 9px;
    position: relative;
}
div#nocredit {
    padding: 10px;
    background-color: #9C2531;
    font-size: smaller;
    color: aliceblue;
}
div#payment {
    padding: 10px;
    font-size: small;
    background-color: #3EA4C1;
    color: aliceblue;
}
.ios .panel-left:not(.panel-visible-by-breakpoint).panel-active~.view-main:before, .ios .panel-left:not(.panel-visible-by-breakpoint).panel-closing~.view-main:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1px;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    z-index: 6000;
}
img.verificada {
    position: absolute;
    top: 73px;
    left: 23%;
}
.photo_form {
    /* z-index: 3; */
    /* position: relative; */
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: white;
    margin: 15px auto;
    background-size: cover;
    background-position: 50% 50%;
    top: 23px;
    -webkit-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    -moz-transition: top 0.7s ease-in-out, background 0.15s ease;
    -o-transition: top 0.7s ease-in-out, background 0.15s ease;
    -ms-transition: top 0.7s ease-in-out, background 0.15s ease;
}
.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
@keyframes parpadeo {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}
.margin-l {
    margin-left: 20px;
}
b.title-des {
    color: #ffffff;
    background-color: #313131;
    padding: 7px;
    /* opacity: 1.2; */
    /* border-radius: 24%; */
}
.login-screen-content {
    /* background-image: url(../../assets/images/bg.png); */
    background-size: cover;
    background-color: #038e19;
}
.outstanding_1 {
    border: 11px solid #e1ebc0;
    height: 155px;
}
a.button.button-big.register-button {
    color: aliceblue;
    background-color: #d0d0d0;
    color: #1f5b6d;
}
a.col.button.button-big.login-button {
    color: #9a9a9a;
}
.block-footer.t {
    font-size: 15px;
}
#passwordContainer {
    width: 150px;
}
#passwordContainer #password {
    width: -webkit-calc(100% - 3px);
}
#passwordContainer #password:focus {
    outline: 0;
}
#passwordContainer #strengthbar {
    width: 100%;
    height: 5px;
    background: grey;
}
#passwordContainer #strengthbar.invalid {
    width: 25%;
    background: #e74c3c;
}
#passwordContainer #strengthbar.okay {
    width: 50%;
    background: #f39c12;
}
#passwordContainer #strengthbar.strong {
    width: 75%;
    background: #36d278;
}
#passwordContainer #strengthbar.excellent {
    width: 100%;
    background: #27ae60;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.site__wrapper {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
.site__info {
    clear: both;
    position: absolute;
    bottom: -20%;
    padding: 3em;
    display: block;
    font-variant: small-caps;
    letter-spacing: 2px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid {
    /* float: none; */
    width: 100%;
    /* padding-left: 0.2em; */
    /* padding-right: 0.2em; */
    /* padding-bottom: 0.4em; */
    /* margin: 0px; */
}
@media screen and (min-width: 40.063em) {
    .grid {
        float: left;
        width: 33.333%;
    }
}
.card__image {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    min-height: 240px;
    overflow: hidden;
    position: relative;
}
.card__image>img {
    display: block;
    margin-bottom: 0;
    width: 100%;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
.card__image:hover>img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}
.card__title {
    color: white;
    display: inline-block;
    font-family: "Montserrat";
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.75em;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.card__title:hover {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}
img.identity {
    width: 37%;
}
.card__overlay {
    content: "";
    bottom: 0;
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}
div#cuentaVerificada {
    background-color: #729d96;
    padding: 12px;
    color: aliceblue;
}
a.external.lnk {
    color: #5c8f8e;
}
.card__overlay--indigo1 {
    background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgb(239, 47, 162));
    z-index: 2;
}
.card__overlay--indigo0 {
    background-image: linear-gradient(to bottom, rgba(92, 107, 192, 0.1), rgb(25, 84, 104));
    z-index: 2;
}
.card__overlay--blue {
    background-image: linear-gradient(to bottom, rgba(41, 182, 246, 0.1), rgba(41, 182, 246, 0.8));
    z-index: 2;
}
.card__overlay-content {
    position: absolute;
    bottom: 0;
    padding: 1.5em;
    z-index: 3;
}
.card__meta {
    margin: 0;
    margin-right: -1em;
    margin-bottom: 0.75em;
}
.card__meta.card__meta--last {
    margin-bottom: 0;
}
.card__meta li {
    color: #f8f8f8;
    display: inline;
    list-style-type: none;
    margin-bottom: 0;
    padding-right: 1em;
    font-size: 0.85em;
    font-variant: small-caps;
    letter-spacing: 1px;
}
.card__meta li:not(:last-child):after {
    content: "\25cf";
    font-style: normal;
    position: relative;
    color: rgba(255, 255, 255, 0.25);
    right: -0.6em;
}
.card__meta li>a {
    color: #f8f8f8;
}
/* A bit of demo styles */

;
.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #000;
}
.demo-swiper .swiper-slide {
    box-sizing: border-box;
    border: 1px solid #ddd;
    background: #fff;
}
.demo-swiper {
    margin: 0px 0 35px;
    font-size: 18px;
    height: 120px;
}
.demo-swiper.demo-swiper-auto .swiper-slide {
    width: 85%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(2n) {
    width: 70%;
}
.demo-swiper.demo-swiper-auto .swiper-slide:nth-child(3n) {
    width: 30%;
}
.page-content.page-content-parse {
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
}
.blog-image.indigo0 {
    height: 57px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -100px;
}
.avatar {
    width: 60px;
    height: 60px;
}
.circle {
    border-radius: 50%;
}
.blog-card .blog-header {
    padding: 0px 9px 0px 80px;
    position: relative;
}
div#map {
    width: 100%;
    height: 100%;
}
.blog-card .blog-header img {
    position: absolute;
    top: -5px;
    left: -4px;
}
canvas.upper-canvas.firma {
    width: 350pc;
    border: 1px solid #d2d2d2;
    height: 120px;
}
textarea#transcript {
    width: 100%;
    height: 133px;
    background-color: white;
    padding: 5px;
}
.blog-preview.p-20 {
    padding: 15px;
}
a.external.gris {
    color: #239dda;
}
.countPoints {
    margin-bottom: -36px;
}
i.fas.fa-angle-double-down {
    position: relative;
    margin: 1px;
    padding: -17px;
    top: -13px;
    font-size: 68px;
    z-index: 9;
    width: 100%;
    color: #e2e2e2;
    text-align: center;
}
.page-content.wallet {
    background-color: #f1f1f1;
}
a.link.sortable-toggle {
    font-size: 30px;
}