{% extends 'master.twig' %}

{% block body %}
<table>

<form action="/intranet/import/add" method="POST" enctype="multipart/form-data">
 <div class="form-group">
 	<h4>Importar ruta</h4><br />
 	<label for="fichero_Name">Selecciona un fichero</label><br />	
 	<input required type="file" class="form-control" name="filename" id="filename" accept=".csv"><br />
	<input type="submit" class="btn btn-success" value="Importar">
  </div>
</form>


<form action="/intranet/import/addparada" method="POST" enctype="multipart/form-data">
 <div class="form-group">
 	<h4>Importar parada</h4><br />
 	<label for="fichero_Name">Selecciona un fichero</label><br />	
 	<input required type="file" class="form-control" name="filename" id="filename" accept=".csv"><br />
	<input type="submit" class="btn btn-success" value="Importar">
  </div>
</form>

</table>
{% endblock %}