

/*---------------------------------------cards*/
.demo-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.demo-card-header-pic .card-content-padding .date{
  color: #8e8e93;

}

:root {
  --f7-card-bg-color: #fff;
  --f7-card-outline-border-color: rgba(0, 0, 0, 0.12);
  --f7-card-border-radius: 4px;
  --f7-card-font-size: inherit;
  --f7-card-header-text-color: inherit;
  --f7-card-header-font-weight: 400;
  --f7-card-header-border-color: #e1e1e1;
  --f7-card-footer-border-color: #e1e1e1;
  --f7-card-footer-font-weight: 400;
  --f7-card-footer-font-size: inherit;
  --f7-card-expandable-bg-color: #fff;
  --f7-card-expandable-font-size: 16px;
  --f7-card-expandable-tablet-width: 670px;
  --f7-card-expandable-tablet-height: 670px;
  /*--PortcentajeDeMovimiento:0%; */
  /*--PortcentajeDeMovimientoAntiguo:0%; */
}
:root .theme-dark,
:root.theme-dark {
  --f7-card-bg-color: #1c1c1d;
  --f7-card-outline-border-color: #282829;
  --f7-card-header-border-color: #282829;
  --f7-card-footer-border-color: #282829;
  --f7-card-footer-text-color: #8E8E93;
}
.ios {
  --f7-card-margin-horizontal: 10px;
  --f7-card-margin-vertical: 10px;
  --f7-card-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  --f7-card-content-padding-horizontal: 15px;
  --f7-card-content-padding-vertical: 15px;
  --f7-card-header-font-size: 17px;
  --f7-card-header-padding-vertical: 10px;
  --f7-card-header-padding-horizontal: 15px;
  --f7-card-header-min-height: 44px;
  --f7-card-footer-text-color: #6d6d72;
  --f7-card-footer-padding-vertical: 10px;
  --f7-card-footer-padding-horizontal: 15px;
  --f7-card-footer-min-height: 44px;
  --f7-card-expandable-margin-horizontal: 20px;
  --f7-card-expandable-margin-vertical: 30px;
  --f7-card-expandable-box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
  --f7-card-expandable-border-radius: 15px;
  --f7-card-expandable-tablet-border-radius: 5px;
  --f7-card-expandable-header-font-size: 27px;
  --f7-card-expandable-header-font-weight: bold;
}
.md {
  --f7-card-margin-horizontal: 8px;
  --f7-card-margin-vertical: 8px;
  --f7-card-box-shadow: var(--f7-elevation-1);
  --f7-card-content-padding-horizontal: 16px;
  --f7-card-content-padding-vertical: 16px;
  --f7-card-header-font-size: 16px;
  --f7-card-header-padding-vertical: 4px;
  --f7-card-header-padding-horizontal: 16px;
  --f7-card-header-min-height: 48px;
  --f7-card-footer-text-color: #757575;
  --f7-card-footer-padding-vertical: 4px;
  --f7-card-footer-padding-horizontal: 16px;
  --f7-card-footer-min-height: 48px;
  --f7-card-expandable-margin-horizontal: 12px;
  --f7-card-expandable-margin-vertical: 24px;
  --f7-card-expandable-box-shadow: var(--f7-elevation-10);
  --f7-card-expandable-border-radius: 8px;
  --f7-card-expandable-tablet-border-radius: 4px;
  --f7-card-expandable-header-font-size: 24px;
  --f7-card-expandable-header-font-weight: 500;
}

/*---------------------------------------busStop*/

.ruta{
  font-family: 'Open Sans';
  zoom: 1;
  transform: scale(0.75);
  box-sizing: border-box;
}
.line {
  position: absolute;
  height: 0px; /*largo de la linia*/
  width: 10px;
  left: 131px;
  top: 0px;
  background-color: #97d560;
  z-index: 99;
  animation-name: demo-line;
  /*animation-duration: 0s;*/
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: green;
}
.bus {
  position: absolute;
  top: 2px;
  height: 100%;
  z-index: 100;
  left: 107px;
}
.bus i {
  font-size: 22px;
  position: absolute;
  top: 0px; /*hasta donde va el bus con el height de la linia*/
  border: 4px solid #fff;
  left: 6px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  border-radius: 24px;
  background-color: #fff;
  animation-name: demo;
  /*animation-duration: 0s;*/
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 100;
}
.bus i:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -4px;
  top: -5px;
  border: 4px solid;
  border-radius: 24px;
}
.bus i.move:after {
  animation-name: bus-move;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 0.4s;
}
.bus i.stop:after {
  border-color: #e01010;
  border-left-color: #ff733e;
  border-right-color: #ff733e;
  animation-name: bus-stop;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}

.page{
  position: absolute;
}
.route {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  /*max-height: 50%;*/
  height: 80%;
  width: 390px;
  /*left: -40px;*/
  top: 210px;
  display: inline-block;
}
.route .path {
  position: absolute;
  height: 100%;
  border-left: 14px solid #ec6200;
  width: 54px;
  top: 3px;
  left: 74px;

  
  
  border-radius: 5px;
  
 /* border-right: 2px solid #ededed;*/
}
.route .point {
  position: absolute;
  left: 0px;
  width: 100%;
}
.route .point .desc,
.route .point .mark,
.route .point .time {
  position: absolute;
}
.route .point .desc {
  left: 167px;
  top: -3px;
  font-size: 17px;
  font-weight: 600;
  color: #444;
}
.route .point .desc p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #777;
}
.route .point .time {
  font-size: 14px;
  width: 600px;
  left: 19px;
  top: 8px;
  font-weight: 700;
  line-height: 24px;
}
.route .point .mark {
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #464646;
  border: 6px solid #464646;
  top: 0;
  left: 61px;
}
.route .point .mark:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #464646;
  top: 4px;
  left: 4px;
  z-index: 0;
  border-radius: 5px;
}
.route .point .mark:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 6px;
  background-color: #ec6200;
  top: 8px;
  left: 36px;
  z-index: 0;
}
.route .point.stop .mark {
  border-color: #BABABA;
}
.route .point.stop .mark:after {
  background-color: #BABABA;
}

@keyframes persona-move {
  from {
    border-color: #5abc03;
  }
  to {
    border-color: #c5f300;
  }
}
@keyframes persona-stop {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes bus-move {
  from {
    border-color: #5abc03;
  }
  to {
    border-color: #c5f300;
  }
}
@keyframes bus-stop {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes demo {
  from {
    top: var(--PortcentajeDeMovimientoAntiguo);
    /*top: 0%;*/
  }
  to {
    top: var(--PortcentajeDeMovimiento);
  }
}
@keyframes demo-line {
  from {
    height: var(--PortcentajeDeMovimientoAntiguo);
  }
  to {
    height: var(--PortcentajeDeMovimiento); 
  }
}
@keyframes demo-persona {
  from {
    top: 0%;
  }
  to {
    top: var(--PortcentajeDeMovimientoPersona);
  }
}
@keyframes demo-line-persona {
  from {
    height: 0%;
  }
  to {
    height: var(--PortcentajeDeMovimientoPersona); 
  }
}
/*
@keyframes demo1 {
  from {
    top: 0;
  }
  to {
    top: 100px;
  }
}
@keyframes demo-line1 {
  from {
    height: 0;
  }
  to {
    height: 100px; 
  }
}

@keyframes demo2 {
  from {
    top: 0;
  }
  to {
    top: 200px;
  }
}
@keyframes demo-line2 {
  from {
    height: 0;
  }
  to {
    height: 200px;
  }
}

@keyframes demo3 {
  from {
    top: 0;
  }
  to {
    top: 300px;
  }
}
@keyframes demo-line3 {
  from {
    height: 0;
  }
  to {
    height: 300px; 
  }
}*/

/*---------------------------------------Persona*/
.linepersona {
  position: absolute;
  height: 0px; /*largo de la linia*/
  width: 10px;
  left: 25px;
  top: 0px;
  background-color: #aadaff;
  z-index: 98;
  animation-name: demo-line-persona;
  /*animation-duration: 0s;*/
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);

  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: blue;
}
.persona {
  position: absolute;
  top: 2px;
  height: 100%;
  z-index: 101;
  left: 107px;
}
.persona i {
  font-size: 22px;
  position: absolute;
  top: 0px; /*hasta donde va el bus con el height de la linia*/
  border: 4px solid #fff;
  left: -100px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 34px;
  border-radius: 24px;
  background-color: #fff;
  animation-name: demo-persona;
  /*animation-duration: 0s;*/
  animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
  z-index: 101;
}
.persona i:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: -4px;
  top: -5px;
  border: 4px solid;
  border-radius: 24px;
}
.persona i.move:after {
  animation-name: persona-move;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 0.4s;
}
.persona i.stop:after {
  border-color: #e01010;
  border-left-color: #ff733e;
  border-right-color: #ff733e;
  animation-name: persona-stop;
  animation-iteration-count: infinite;
  animation-duration: 0.6s;
  animation-timing-function: linear;
}


/*---------------------------------------Mapa de Google*/

div.mapa {
  height: 40%; 
  width: 100%;

  border-style: hidden;
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 3px;
  border-radius: 5px;
  border-color: green;

   /*display: inline-block;*/
}

/*eliminar copyright google maps*/
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}

/*---------------------------------------Fijar Mapa y Paradas bus*/
#menu{
  /*height: 100%; */
  /*width: 100%; */ 
  text-align:center; 
  min-width:900px;
  top: 20px;
  bottom: 20px;

}
#menu a{
  font-family: 'Roboto', sans-serif; 
  color:white; 
  text-decoration:none;
  margin-left:30px; 
  margin-right:300px;

  
}
.contenedor{
  
  margin:auto;

}

#ancla1{
  height:100%;
  width: 100%;
  top: 35%;
  /*top: 219px;*/
  overflow-x:hidden;
  overflow-y: auto;
  margin-bottom: 50px;
  border-style: hidden;
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 1px;
  border-radius: 20px;
  border-color: #7ec3a3;
}



/*---------------------------------------Slides Text */



/*----------- estilo tabla del slides*/

.tableTM{
border-collapse: collapse;
  width: 100%;
  
}

.filan{
 border-bottom: 5px solid #ddd;
border-top: 5px solid #ddd;
height: 29px;
  
}

.thTM, .tdTM {
  padding: 8px;
  text-align: left;
}

.trTM1:hover {
  background-color:#f5f5f5;
}

/*---------Slides Text----------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body { 

/*  font-family: 'Open Sans', 'sans-serif';
  color: #cecece;
  background: #222;
  overflow-x:hidden;
  overflow-y: hidden;
  width: 100%;*/
}

.item-1, 
.item-2, 
.item-3 {
  transform: scale(0.60);
  position: absolute;
  display: inline;
  top: 33.5%;
  margin: auto;
  width: 50%;
  font-size: 32px;
  font-family: 'Orbitron', sans-serif;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  color: black;
  
}



.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 8.3% { left: -50%; opacity: 0; }
  8.3%,25% { left: 5%; opacity: 1; }
  33.33%, 100% { left: 20%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -50%; opacity: 0; }
  41.63%, 58.29% { left: 5%; opacity: 1; }
  66.66%, 100% { left: 20%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -50%; opacity: 0; }
  74.96%, 91.62% { left: 5%; opacity: 1; }
  100% { left: 20%; opacity: 0; }
}

/*---------------------------------------Popup */

.acordeon{
  margin-left: -63px;
}

.colorazul{
  color: #1B73BD;
}
.negrita{
  font-weight: bold; 
}

/*---------------------------------------Loading Map */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
body {
  background: #f1f1f1;
  font-family: 'Roboto', sans-serif;
}

.loading-bro {
    width: 25%;
    position: absolute;
    top: 55px;
    right: 0;
    left: 0;
    z-index: 1001;
    margin: auto;
}
.loading-bro > h1 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: 300;
  color: #8E8E8E;
}

#load {
  animation: loading 4s linear infinite;
}
#load #loading-inner {
  stroke-dashoffset: 0;
  stroke-dasharray: 300;
  stroke-width: 10;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  animation: loading-circle 2s linear infinite;
  stroke: #51BBA7;
  fill: transparent;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-circle {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: -600;
  }
}
/*Boton Flotante*/
.float{
  position:fixed;
  width:50px;
  height:50px;
  z-index: 1001;
  bottom:341px;
  right:18px;
  background-color:#06C;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}



.my-float{
  margin-top:22px;
}

.float{
  position:fixed;
  width:50px;
  height:50px;
  z-index: 1001;
  bottom:341px;
  right:18px;
  background-color:#06C;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.BotonInfoBus{
  position:fixed;
  width:50px;
  height:50px;
  z-index: 1001;
  bottom:270px;
  right:18px;
  background-color:#06C;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  box-shadow: 2px 2px 3px #999;
}

.left{
  border-style: hidden;
  border-bottom-style:groove;
  border-radius:9px;
  border-color: black;
}