<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data: gap: content:">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="theme-color" content="#2196f3">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">

  <title>Buscontrol v1</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="framework7/css/framework7.css">
  <link rel="stylesheet" href="css/icons.css">
  <link rel="stylesheet" href="css/app.css">

  <script src="js/template7.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Firebase App is always required and must be first -->
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-database.js"></script>
 
</head>
<body>
  <div id="app">

    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main safe-areas">
      <!-- Page, data-name contains page name which can be used in callbacks -->
      <div class="page" data-name="home">
        <!-- Top Navbar -->
        <div class="navbar">
          <div class="navbar-inner">
            
            <div class="title sliding">Bus Control</div>
           
          </div>
        </div>
        
        <!-- Scrollable page content-->
        <div class="page-content">
          <div class="list links-list searchbar-hide-on-search">
            <ul>
              <li>
                <a href="#" data-login-screen="#my-login-screen" class="link login-screen-open">Cambiar de Código</a>
              </li> 
              <li>
                <a href="/rutas/" class="link">Rutas</a>
              </li>
              <li>
                <a href="/rutas/" class="link">Lista de paradas</a>
              </li>               
            </ul>
          </div>
        </div>
      </div>
    </div>

   

<!-- PopUp Informacion del autobus -->
  <div class="login-screen" id="popup-BusInfo">
      <div class="view">
        <div class="page">
          <div class="page-content login-screen-content">
            <div class="login-screen-title">Información</div>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner listResult3">
                    {{#each lista3}}
                    <p><b>Matricula:</b> <span id="bus_matricula">{{matricula}}</span></p>
                    <p><b>Descripcion:</b> <span id="bus_descripcion">{{descripcion}}</span></p>
                    <p><b>Marca:</b> <span id="bus_marca">{{marca}}</span></p>
                    <p><b>Modelo:</b> <span id="bus_modelo">{{modelo}}</span></p>
                    {{/each}}
                  </div>
                </li>
              </ul>
            </div>
            
            <div class="list">
              <ul>
                <li>
                  <a href="#" class="col button button-fill color-green login-button" >Salir</a>
                </li>
              </ul> 
              <div class="block-footer"></div> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Popup Screen ParadaInfo-->
    <div class="login-screen" id="popup-Screen">
      <div class="view">
        <div class="page">
          <div class="page-content login-screen-content">
            <div class="login-screen-title">Información</div>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner listResult1">
                    {{#each lista1}}
                    <p><b>Nombre:</b> <span id="stop_name">{{nombre}}</span></p>
                    <p><b>Linea:</b> <span id="route_name">{{rutas_name}}</span></p>
                    <p><b>Orden:</b> <span id="stop_order">{{orden}}</span></p>
                    <div class="acordeon">
                        <div class = "list-block accordion-list">
                          
                         <ul >
                          <li class = "accordion-item">
                               <a href = "" class = "item-link item-content">
                                  <div class = "item-inner">
                                     <div class = "item-title"><b>Coordenadas:</b></div>
                                  </div>
                               </a>
                               <div class = "accordion-item-content">Latitud: <span id="stop_lat">{{latitud}}</span></div>
                                <div class = "accordion-item-content">Longitud: <span id="stop_lng">{{longitud}}</span></div>
                            </li>
                            <li class = "accordion-item">
                               <a href = "" class = "item-link item-content">
                                  <div class = "item-inner">
                                     <div class = "item-title negrita"><b>Dias en ruta:</b></div>
                                  </div>
                               </a>
                                <div class = "accordion-item-content"><span id="stop_day"> </span></div>
                            </li>
                             <li class = "accordion-item">
                               <a href = "" class = "item-link item-content">
                                  <div class = "item-inner">
                                     <div class = "item-title negrita"><b>Horario:</b></div>
                                  </div>
                               </a>
                               <div class = "accordion-item-content"><span id="stop_hour"><span></div>
                            </li> 
                         </ul>
                        </div>
                      </div>
                    <p><b>Observaciones:</b> {{observaciones}} </p>
                    <hr>
                    {{/each}}
                  </div>
                </li>
              </ul>
            </div>

            
            <div class="list">
              <ul>
                <li>
                  <a href="#" class="col button button-fill color-green login-button" >Salir</a>
                </li>
              </ul>
              <div class="block-footer"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
    <!-- Login Screen -->
    <div class="login-screen" id="my-login-screen">
      <div class="view">
        <div class="page">
          <div class="page-content login-screen-content">
            <div class="login-screen-title"><img src="img/IconoLogo.png" style="max-width:55%;width:auto;height:auto;"></div>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-inner">
                    <div class="item-title item-label">Codigo:</div>
                    <div class="item-input-wrap">
                      <input type="number" name="username" placeholder="Introduce tu código" id="scannerText" 
                      required pattern="[0-9][0-9][0-9][0-9]" value="">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="list">
              <ul>
                <li>
                  <a href="#" class="col button button-fill color-green login-button">Entrar</a>
                </li>
              </ul>
              <div class="block-footer">
              <a href="#" onClick="app.methods.Lector();"><img src="img/ScannerQRMovertis.png" style="max-width:55%;width:auto;height:auto;"></a>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

 

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Api GOOGLE MAPS -->

  <div class="map" id="map"></div>

  <!-- Framework7 library -->

  <script src="framework7/js/framework7.js"></script>

  <!-- App routes -->

  <script src="js/routes.js"></script>
  <script src="js/methods.js"></script>
  <script src="js/app.js"></script>

  <!-- Your custom app scripts -->
  
   <script type="text/javascript">
    $( document ).ready(function() {
      app.methods.getAllRoutes();
    });
  </script>
  <script src="cordova.js"></script>
  <script src="../plugins/phonegap-plugin-barcodescanner/www/barcodescanner.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK4qripVYfJpZz58rroYVw2anrUAcY78&libraries=geometry&directions"
  async defer>
  </script>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<!-- <script src="https://www.gstatic.com/firebasejs/6.0.2/firebase-app.js"></script> -->
<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCHMb8HP_Jo1AjaQxdU-Xn3m63Gv6K9iTg",
    authDomain: "my-project-1557243837777.firebaseapp.com",
    databaseURL: "https://my-project-1557243837777.firebaseio.com",
    projectId: "my-project-1557243837777",
    storageBucket: "my-project-1557243837777.appspot.com",
    messagingSenderId: "990399551251",
    appId: "1:990399551251:web:ff4bb9c7f64bb530"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);

</script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->


 
</body>
</html>
