  {% extends 'master.twig' %}

  {% block body %}
    
        
    
    <span  class="badge badge-pill badge-success"><h2>{{route.name}}</h2></span>
   

    <div id="map"></div>
    <div id="formulario">
      <form action="/intranet/routes/modify" method="POST">

            <input aria-describedby="emailHelp" class="form-control" id="mod_nombre" name="old_name" placeholder="{{route.name}}" type="text"
              readonly="readonly" value="{{route.name}}" style="visibility: hidden;position:absolute;">
            <input aria-describedby="emailHelp" class="form-control" id="mod_group_nombre" name="old_groups_name" placeholder="{{route.groups_name}}" type="text" readonly="readonly" value="{{route.groups_name}}" style="visibility: hidden;position:absolute;">

        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="name" class="form-control" id="nombre" name="new_name" value="{{route.name}}">   
        </div>

        <div class="form-group">
          <label for="grupo">Grupo</label>
        <select class="form-control" name="new_groups_name" id="grupo">   
            
            {% for groups in groups %}              
            <option>{{groups.name}} </option>            
            {% endfor %}
          </select>
        </div>

         <div class="form-group">
          <label for="matricula">Matricula</label>
        <select class="form-control" name="new_matricula" id="matricula">   
                     
            {% for buses in buses %}              
            <option>{{buses.matricula}} </option>            
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <label for="color">Color</label>
          <input name="color" type="color">
                     
          
        </div>

        
        <button type="submit" class="btn btn-primary">Modificar</button>
        
      </form>
    </div>  

    <div id="paradas" class="overflow-auto">
      
        
        {% for point in points %} 

        <h4><li><b>{{point.nombre}}</b></li></h4>
        <h6>{{point.observaciones}}</h6>  

        {% endfor %}
        
        <p></p>
        
        <p></p>
        
         

    </div>

    
    <script type="text/javascript">
    var map;
    var wayPoints = new Array();
    var latitud = new Array();
    var longitud = new Array();
    var ArrayLength;

    function initMap() {
      
      var directionsService = new google.maps.DirectionsService;
      var directionsDisplay = new google.maps.DirectionsRenderer({
          polylineOptions: {
              strokeColor: "{{route.color}}"
        }
      });

      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 43.5293, lng: -5.6773},
        zoom: 13,
      });

      
      directionsDisplay.setMap(map);

      {% for point in points %}

      wayPoints.push({
        location: new google.maps.LatLng({{point.latitud}},{{point.longitud}}),
        stopover:true
      });    

      {% endfor %}


      {% for point in points %} 

        latitud.push(
         {{point.latitud}}
        );

      {% endfor %}

      {% for point in points %} 

        longitud.push(
         {{point.longitud}}
        );

      {% endfor %}
      ArrayLength=wayPoints.length;
      wayPoints.splice(wayPoints.length,1);
      wayPoints.splice(0,1);      
      

    
      
      calculateAndDisplayRoute(directionsService, directionsDisplay);

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var start = new google.maps.LatLng({lat: latitud[0], lng: longitud[0]});  
        var end = new google.maps.LatLng({lat: latitud[ArrayLength-1], lng: longitud[ArrayLength-1]});
   
        directionsService.route({
          origin: start,
          destination: end,
          waypoints: wayPoints,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            directionsDisplay.setDirections(response);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

    }
    </script>
    
      <style>
    /* Set the size of the div element that contains the map */
      #map {
        height: 60%;  /* The height is 400 pixels */
        width: 50%;  /* The width is the width of the web page */
        border-style: solid;
        border-width: 2px;
       }
      #formulario {
        position: absolute;
        top: 17.5%;
        left: 60%;
        height: 45%;  /* The height is 400 pixels */
        width: 45%;  /* The width is the width of the web page */
        /*border-style: solid;
        border-width: 2px;*/
      }
      #paradas {
        position: absolute;
        overflow-y: scroll;
        top: 65%;
        left: 60%;
        height: 30%;  /* The height is 400 pixels */
        width: 30%;  /* The width is the width of the web page */
        border-style: solid;
        border-width: 2px;
      }
      
      </style>
    

    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoK4qripVYfJpZz58rroYVw2anrUAcY78&callback=initMap">
    </script>
  {% endblock %}