  {% extends 'master.twig' %}
  {% block body %}
  <head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});
</script>
    <div id="paddingTop"></div>
    <br>
    <h2 style="padding-left:20px;">Lista de rutas</h2>
     <br>
     <table>
        <tr>
        <th scope="col"><b><h4>#</h4></b></th>
        <th scope="col"><b><h4>Nombre de la ruta</h4></b></th>
        <th scope="col"><b><h4>Grupo</h4></b></th>
        <th scope="col"><b><h4>Matricula del bus<h4></b></th>
           <th scope="col"><b><h4>Color<h4></b></th>
            <th>
            </th>
      </tr>
      <tr>
        <th scope="row">****</th>
        <form action="/intranet/routes/add" method="POST" style="">
        <td><input type="text" class="form-control" name="name" placeholder="nombre" required>
         </td>
          <td><select class="form-control" name="groups_name">
                <option>Ninguno</option>
              {% for group in show_groups %}
                <option>{{group.name}} </option>
              {% endfor %}
            </select>
          </td>  
          <td><select class="form-control" name="matricula">
              {% for buses in bus %}
                <option>{{buses.matricula}} </option>
              {% endfor %}
            </select>           
          </td>
          <td>
              <input id="background-color" type="color" name="color">
          </td>
          <td>
          </td>
        <td><button type="submit" class="btn btn-primary">Añadir</button>
        </td>        
      </tr>  
     </table>
     <br>
    <table id="myTable" class="table table-striped">
    <thead>
      <tr>
        <th scope="col"><b><h4>#</h4></b></th>
        <th scope="col"><b><h4>Nombre de la ruta</h4></b></th>
        <th scope="col"><b><h4>Grupo</h4></b></th>
        <th scope="col"><b><h4>Matricula del bus<h4></b></th>
        <th scope="col"><b><h4>Color<h4></b></th>
        <th scope="col"><b><h4>Herramientas<h4></b></th>
      </tr>
    </thead> 
      {% for route in routes %}
      <tr>
        <th scope="row">{{route.code}}</th>
        <td>{{route.name}}</td>
        <td>{{route.groups_name}}</td>
        <td>{{route.matricula}}</td>
        <td>{{route.color}}</td>
        <td>         
          <a href="/intranet/routes/modifyroutes/{{route.code}}" type="button" class="btn btn-warning" >Modificar</a>
          <a href="/intranet/routes/delete/{{route.code}}" type="button" class="btn btn-danger" >Eliminar</a>
        </td>       
      </tr>
      {% endfor %}
  </table>    
        </form>
  <!-- Modal -->
  {# Modificar #}
  <div class="modal fade" id="modal_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"><b>Modificar una ruta</b></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">       
    <div class="form-group">
      {# <label for="Nombre de grupo" style="visibility: hidden;">Nombre antiguo de la ruta</label> #}
      <form action="/intranet/routes/modify" method="POST" style="">  
       <input aria-describedby="emailHelp" class="form-control" id="mod_nombre" name="old_name" placeholder="{{route.name}}" type="text"
       readonly="readonly" style="visibility: hidden;position:absolute;">
        <br><label for="Nombre de grupo">Nombre nuevo de la ruta</label>
      {# placeholder obtiene dato de boton nuevo modificar  #}
      <input type="text" class="form-control" id="mod_nombreNew" name="new_name" aria-describedby="emailHelp" placeholder="introduce un nombre">
      <br/>
        <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Grupo anterior</label>
      <form action="/intranet/routes/modify" method="POST" style="">      
       <input aria-describedby="emailHelp" class="form-control" id="mod_group_nombre" name="old_groups_name" placeholder="{{route.groups_name}}" type="text"
       readonly="readonly" style="visibility: hidden;position:absolute;">
      <br/>
      <label  for="groups_name">Nuevo grupo de la ruta</label>
      <td><select class="form-control" name="new_groups_name" id="mod_group_nombreNew">                
            {% for group in show_groups %}              
            <option>{{group.name}} </option>            
            {% endfor %}
          </select>          
        </td>           
      <br/> 
      <br/>
      <label  for="color">Nueva matricula</label>
      <td><select class="form-control" name="new_matricula" id="mod_group_nombreNew">   
                       
              {% for buses in bus %}              
              <option>{{buses.matricula}} </option>            
              {% endfor %}
            </select>          
          </td> 
      <br/>  
       <br/>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          {# **********update variable del input del modal modificar**********  #}
          <button  type="submit" class="btn btn-primary">Modificar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    function onModifyRouteClick(uniqid, nombre, groups_name) {
    $('#mod_id').val(uniqid);
    $('#mod_nombre').val(nombre);
    $('#mod_group_nombre').val(groups_name);
    // $('#mod_lat').val(lat);
    // $('#mod_lng').val(lng);
    //$('#mod_group_name').val(group_name);

    //agregar el valor del placehonder de nombre antiguo al valor de new nombre
     $('#mod_nombreNew').val(nombre);
     $('#mod_group_nombreNew').val(groups_name);
     $('#mod_color').val(color);

     // $('#mod_group_nombreNew').val(groups_name);
      $('#mod_group_nombreNew').on("change", function(e) {
        var op = $(this).find("option:selected").val();
                $('#mod_group_nombreNew').val(op);
      });
}
</script>

  <style>
      thead{
        font-weight:bold;
      }   
  </style>
  {% endblock %}