{% extends 'master.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

  <br>
  <h2  name="nom" style="padding-left:20px;">Lista de personas</h2>
  <br>
  <table>
       <tr>
      <th scope="col"><b><h4>Nombre<h4></b></th> 
      <th scope="col"><b><h4>DNI<h4></b></th>  
    </tr>

    <tr>

      <form action="/intranet/personas/add_persona" method="POST" style="">
      <td><input name="name" type="text" class="form-control" placeholder="Nombre" required></td>
      <td><input name="dni" type="text" class="form-control" placeholder="DNI" required></td>
      <td><input name="lista_name" type="hidden" class="form-control" value="{{lista.name}}" required></td>
    
      <td>
        <div class="text-left">
          <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
      </td>  
   </form>

    </tr>

  </table>


  <br>
  <br>


<table id="myTable" class="table table-striped">
  <thead>
    <tr>
      <th scope="col"><b><h4>Nombre<h4></b></th>
      <th scope="col"><b><h4>DNI</h4></b></th>   
      <th scope="col"><b><h4>Herramientas</h4></b></th>   
    </tr>
  </thead>
    <tr>    
      {% for persona in personas %}
      <th scope="row">{{persona.name}}</th>
      <td name="group.name">{{persona.dni}}</td>
      <td>
        <div class="text-left">       
          <button class="btn btn-warning" data-target="#modal_mod" data-toggle="modal" onclick="onModifyRouteClick('{{loop.index}}', '{{persona.name}}','{{persona.dni}}')" type="button">
                  Modificar
                </button>   
          <a href="/intranet/personas/del_persona/{{persona.dni}}" type="button" class="btn btn-danger" >Eliminar</a>
        </div>
      </td> 
    </tr>
{% endfor %}
</table>



<div class="modal fade" id="modal_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <b>Modifica un grupo</b></h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
  <div class="form-group">
    <form action="/intranet/personas/mod_persona" method="POST" style="">

    <!-- matricula -->
     <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Nombre antiguo</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_name" name="old_name" placeholder="{{InfoBus.matricula}}" readonly="readonly"   type="text" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">Nombre nuevo</label> 
    <input type="text" class="form-control" id="mod_namenew" name="new_name" aria-describedby="emailHelp" placeholder="introduce una nueva matrícula" maxlength="7">
    <br/>

    <!-- descripcion -->
    <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">DNI antiguo</label>   
     <input aria-describedby="emailHelp" class="form-control" id="mod_dni" name="old_dni" placeholder="{{InfoBus.descripcion}}"  type="text"  readonly="readonly" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">DNI nuevo</label>
    <input type="text" class="form-control" id="mod_dninew" name="new_dni" aria-describedby="emailHelp" placeholder="introduce una nueva descripción" maxlength="7">
    <br/>

    
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        
        <button  type="submit" class="btn btn-primary">Modificar</button>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function onModifyRouteClick(uniqid, name, dni) {
    $('#mod_id').val(uniqid);
    $('#mod_name').val(name);
    $('#mod_dni').val(dni);  

    $('#mod_idnew').val(uniqid);
    $('#mod_namenew').val(name);
    $('#mod_dninew').val(dni); 
    
}
</script>



{% endblock %}