{% extends 'master.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});
</script>
  <br>
  <h2 style="padding-left:20px;">Listas</h2>
  <br>
  <table>
       <tr>     
      <th scope="col"><b><h4>Nombre</h4></b></th>
      <th scope="col"><b><h4>Ruta</h4></b></th>
    </tr> 
      <tr>
      <form action="/intranet/lista/add_user" method="POST" style="">   
      <td><input class="form-control" name="name"    placeholder="Nombre"    type="text" required></td>
      <td><select class="form-control" name="route_name" required>
                <option>Ninguno</option>
              {% for route in routes %}
                <option>{{route.name}} </option>
              {% endfor %}
            </select>
          </td>
      
      <td>
        <div class="text-left">
          <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
      </td>  
   </form>
    </tr>
  </table>
<table id="myTable"class="display table-striped" cellspacing="0">
  <thead>
    <tr>     
      <th scope="col"><b><h4>Nombre</h4></b></th>
      <th scope="col"><b><h4>Ruta</h4></b></th>
        <th scope="col"><b><h4>Herramientas</h4></b></th>
    </tr>
      </thead>
      {% for InfoLista in lista %}
      <tr>
      <td>{{InfoLista.name}}</td>
      <td>{{InfoLista.route_name}}</td>
      <td>
        <div class="text-left">      
          <a href="/intranet/lista/modifylista/{{InfoLista.name}}" type="button" class="btn btn-primary" >Administar personas</a>
          <button class="btn btn-warning" data-target="#modal_mod" data-toggle="modal" onclick="onModifyRouteClick('{{loop.index}}', '{{InfoLista.name}}','{{InfoLista.route_name}}')" type="button"> Modificar </button>       
          <a href="/intranet/lista/delete/{{InfoLista.name}}"      type="button" class="btn btn-danger"  >Eliminar</a>
        </div>
      </td>     
    </tr>    
{% endfor %}

</table>
  <div class="modal fade" id="modal_mod" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><b>Modifica una lista</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  <div class="modal-body">
        
  <div class="form-group">
    
    <form action="/intranet/lista/mod_lista" method="POST" style="">
    <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Antiguo nombre de la lista</label>
      
    <input aria-describedby="emailHelp" class="form-control" id="mod_nombre" name="old_name" placeholder="{{group.name}}" type="text"
    readonly="readonly" style="visibility: hidden;position:absolute;">
    
    <br />

    <label for="Nombre de grupo">Nombre de la lista</label>
    {# placeholder obtiene dato de boton nuevo modificar  #}
    <input type="text" class="form-control" id="mod_nombrenew" name="new_name" aria-describedby="emailHelp" placeholder="introduce el nuevo nombre del grupo">

    <br />

    <label for="Nombre de grupo" style="visibility: hidden;position:absolute;">Antiguo nombre de la lista</label>
       
    <input aria-describedby="emailHelp" class="form-control" id="mod_routename" name="old_ruta_name" placeholder="{{group.name}}" type="text"
    readonly="readonly" style="visibility: hidden;position:absolute;">
    
    <br/>
    <label for="Nombre de grupo">Ruta perteneciente</label>
    {# placeholder obtiene dato de boton nuevo modificar  #}
    <input type="text" class="form-control" id="mod_routenamenew" name="new_ruta_name" aria-describedby="emailHelp" placeholder="introduce el nuevo nombre del grupo">
      
  </div>
    
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        {# **********update variable del input del modal modificar**********  #}
      <button  type="submit" class="btn btn-primary">Modificar</button>
    </form>
  </div>
    
 

<script type="text/javascript">

    function onModifyRouteClick(uniqid, name, route_name) {
    $('#mod_id').val(uniqid);
    $('#mod_nombre').val(name);
    $('#mod_routename').val(route_name);

    $('#mod_idnew').val(uniqid);
    $('#mod_nombrenew').val(name);
    $('#mod_routenamenew').val(route_name);

}
</script>

{% endblock %}