{% extends 'master.twig' %}

{% block body %}
<head>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
    "language": {
      "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
    }
  });
});
</script>
<br>
<h2 style="padding-left:20px;">Lista de paradas</h2>
<br>
<table>
    <br>
    <tr> <tr>
            <th scope="col">
                <b><h5>Nombre de la parada</h4></b>
            </th>
            <th scope="col">
                <b><h5>Latitud</h4></b>
            </th>
            <th scope="col">
                <b><h5>Longitud</h4></b>
            </th>
            <th scope="col">
                <b><h5>Rutas</h4></b>
            </th>
            <th scope="col">
                <b><h5>Horario</h4></b>
            </th>
            <th scope="col">
                <b><h5>Dias</h4></b>
            </th>
            <th scope="col">
                <b><h5>Orden</h4></b>
            </th>
        </tr>
            <form action="/intranet/points/add" method="POST" style="">
                <td> 
                    <input class="form-control" name="nombre" placeholder="Nombre del punto" type="text" required/>
                </td>
                <td>
                    <input class="form-control" name="latitud" placeholder="Latitud" type="text"required/>
                </td>
                <td>
                    <input class="form-control" name="longitud" placeholder="Longitud" type="text"required/>
                </td>
                <td>
                    <select class="form-control" name="rutas_name">
                        {% for ruta in routes %}
                        <option>
                            {{ruta.name}}
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input class="form-control" name="horarioRaw" placeholder="Separa cada hora con ;" type="text"required/>
                </td>
                <td>
                    <select multiple="" name="dias[]">
                        <option value="Lunes">
                            Lunes
                        </option>
                        <option value="Martes">
                            Martes
                        </option>
                        <option value="Miercoles">
                            Miercoles
                        </option>
                        <option value="Jueves">
                            Jueves
                        </option>
                        <option value="Viernes">
                            Viernes
                        </option>
                        <option value="Sabado">
                            Sabado
                        </option>
                        <option value="Domingo">
                            Domingo
                        </option>
                    </select>
                </td>
                <td>
                    <input class="form-control" name="orden" placeholder="Orden" type="text"required/>
                </td>
                <th scope="col">
                    <button class="btn btn-primary" type="submit">
                        Añadir
                    </button>
                </th>
            </form>
        </tr>
</table>
<table id="myTable" class="display" cellspacing="0">
<br>
    <thead>
        <tr>
            <th scope="col">
                <b><h5>Nombre de la parada</h4></b>
            </th>
            <th scope="col">
                <b><h5>Latitud</h4></b>
            </th>
            <th scope="col">
                <b><h5>Longitud</h4></b>
            </th>
            <th scope="col">
                <b><h5>Rutas</h4></b>
            </th>
            <th scope="col">
                <b><h5>Horario</h4></b>
            </th>
            <th scope="col">
                <b><h5>Dias</h4></b>
            </th>
            <th scope="col">
                <b><h5>Orden</h4></b>
            </th>
            <th scope="col">
                <b><h5>Herramientas</h4></b>
            </th>
        </tr>
         </thead>
        {% for point in points %}
        <tr>     
            <td>
                {{point.nombre}}
            </td>
            <td>
                {{point.latitud}}
            </td>
            <td>
                {{point.longitud}}
            </td>
            <td>
                {{point.rutas_name}}
            </td>
            <td>
                {% set horario=point.horario|split(';') %}
                {% for hora in horario %}
                {{hora}}
                <br/>
                {% endfor %}
            </td>
            <td>
                {% set dias=point.dias|split(';') %}
                {% for dia in dias %}
                {{dia}}
                <br/>
                {% endfor %}
            </td>
            <td>
                {{point.orden}}
            </td>
            <td>
                <button class="btn btn-warning" data-target="#modal_mod" data-toggle="modal" onclick="onModifyRouteClick('{{loop.index}}', '{{point.nombre}}', '{{point.latitud}}', '{{point.longitud}}', '{{point.horario}}', '{{point.dias}}', '{{point.orden}}')" type="button">
                    Modificar
                </button>
                <p>
                <a class="btn btn-danger" href="/intranet/points/delete/{{point.nombre}}" type="button">
                    Eliminar
                </a>
                </p>
            </td>
        </tr>
        {% endfor %}
            </form>
        </tr>
</table>
{# Modificar #}
<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="modal_mod" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <b>Modifica la parada</b>
                </h5>
                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form action="/intranet/points/mod" method="POST" style="">
                        <!--   <label for="Nombre de grupo">
                            Nombre antiguo
                        </label>
                        {# placeholder obtiene dato de boton anterior modificar  #} -->
                        {# Nombre actual #}
                        <input aria-describedby="emailHelp" class="form-control" id="mod_nombre" name="old_name" placeholder="{{point.name}}" readonly="readonly" type="text" style="visibility: hidden;position:absolute;">
                        <br/>
                        <label for="Nombre de grupo">
                            Nuevo nombre
                        </label>
                         {# placeholder obtiene dato de boton nuevo modificar  #}
                        <input aria-describedby="emailHelp" class="form-control" id="mod_nombreNew" name="new_name" placeholder="introduce un nombre" type="text">
                         </input>
                            <br/>
                            {# Latitud actual #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_lat" name="old_lat" placeholder="{{point.lat}}" readonly="readonly" type="text" style="visibility: hidden;position:absolute;">
                             <br/>
                            <label for="Latitud de grupo">
                               Nueva latitud
                            </label>
                             {# placeholder obtiene dato de boton nuevo modificar  #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_latNew" name="new_lat" placeholder="introduce una latitud" type="text">
                            </input>
                            <br/>
                            <!-- ///////////////////// -->
                            {# Longitud actual #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_lng" name="old_lng" placeholder="{{point.lng}}" readonly="readonly" type="text" style="visibility: hidden;position:absolute;">
                             </input>
                             <br/>
                            <label for="Longitud de grupo">
                                    Nueva longitud
                             </label>
                            {# placeholder obtiene dato de boton nuevo modificar  #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_lngNew" name="new_lng" placeholder="introduce una longitud" type="text">
                            </input>
                             <br/>
                              <!--horario ///////////////////// -->
                              {# Horario actual #}
                               {% for hora in horarios %}
                                     {{hora}}
                                        <br/>
                                {% endfor %}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_horario" name="old_horario" placeholder="{{point.horario}}" readonly="readonly" type="text" style="visibility: hidden;position:absolute;">
                             </input>
                             <br/>
                            <label for="Longitud de grupo">
                                    Horario
                             </label>
                            {# placeholder obtiene dato de boton nuevo modificar  #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_horarioNew" name="new_horario" placeholder="Separa cada hora con ;" type="text">
                            </input>
                             <br/>
                             <!--dias ///////////////////// -->
                             {# Dias actuales #}
                             {% for dias in point.dias %}
                                     {{dias}}
                                        <br/>
                                {% endfor %}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_dias" name="old_dias" placeholder="{{point.dias}}" readonly="readonly" type="text" style="visibility: hidden;position:absolute;">
                             </input>
                             <br/>
                            <label for="Longitud de grupo">
                                    Días
                             </label>
                            {# placeholder obtiene dato de boton nuevo modificar  #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_diasNew" name="new_dias" placeholder="Separa cada hora con ;" type="text">
                            </input>
                            <br/>
                            <!-- orden -->
                            {# Orden actual #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_orden" name="old_orden" placeholder="{{point.orden}}" readonly="readonly" type="text" style="visibility: hidden;position:absolute;">
                            <br/>
                            <label for="Orden de grupo">
                                Nuevo orden
                            </label>
                         {# placeholder obtiene dato de boton nuevo modificar  #}
                            <input aria-describedby="emailHelp" class="form-control" id="mod_ordenNew" name="new_orden" placeholder="introduce un orden" type="text">
                            </input>
                            <br/>
                             
                                
                          
                      <button class="btn btn-primary" type="submit" >Modificar </button>
                    </form>
                    
                    </input>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function onModifyRouteClick(uniqid, nombre,lat,lng, horario, dias, orden) {//, dias
       

    $('#mod_id').val(uniqid);
    $('#mod_nombre').val(nombre);
    $('#mod_lat').val(lat);
    $('#mod_lng').val(lng);
    $('#mod_horario').val(horario);
    $('#mod_dias').val(dias);
    $('#mod_orden').val(orden);
    
    $('#mod_nombreNew').val(nombre);
     $('#mod_latNew').val(lat);
    $('#mod_lngNew').val(lng);
    $('#mod_horarioNew').val(horario);
    $('#mod_diasNew').val(dias);
    $('#mod_ordenNew').val(orden);

     $('#mod_group_nombreNew').val(groups_name);

     // $('#mod_group_nombreNew').val(groups_name);
      $('#mod_group_nombreNew').on("change", function(e) {
        var op = $(this).find("option:selected").val();
                $('#mod_group_nombreNew').val(op);

      });

}
</script>
{% endblock %}

